asgiref==3.11.0
Django==5.2.8
django-ranged-response==0.2.0
djangorestframework==3.16.1
moviepy==2.2.1
pillow==11.0.0
setuptools==80.9.0
sqlparse==0.5.3
tzdata==2025.2
wheel==0.45.1
gunicorn==21.2.0
boto3==1.34.0
django-storages==1.14.2
psycopg2-binary==2.9.9
dj-database-url==2.1.0